<!-- build:js scripts/vendor.js -->
<!-- jQuery -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/wow/dist/wow.min.js"></script>
<!-- endbuild -->

<!-- Plugin JavaScript -->
<script src="/scripts/jquery.easing.min.js"></script>
<script src="/scripts/jquery.fittext.js"></script>


<!-- Custom Theme JavaScript -->
<script src="/scripts/creative.js"></script>

