html,
body {
  height: 100%;
  width: 100%; }

body {
  font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
  webkit-tap-highlight-color: #222; }

hr {
  border-color: #2196f3;
  border-width: 3px;
  max-width: 50px; }

hr.light {
  border-color: white; }

a {
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  color: #2196f3; }
  a:hover, a:focus {
    color: #0c7cd5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px; }

.bg-primary {
  background-color: #2196f3; }

.bg-dark {
  background-color: #222;
  color: white; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 100px 0; }

aside {
  padding: 50px 0; }

.no-padding {
  padding: 0; }

.navbar-default {
  background-color: white;
  border-color: fade(#222, 5%);
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }
  .navbar-default .navbar-header .navbar-brand {
    color: #2196f3;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
    .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
      color: #0c7cd5; }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #222; }
    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
      color: #2196f3; }
  .navbar-default .nav > li.active > a,
  .navbar-default .nav > li.active > a:focus {
    color: #2196f3 !important;
    background-color: transparent; }
    .navbar-default .nav > li.active > a:hover,
    .navbar-default .nav > li.active > a:focus:hover {
      background-color: transparent; }
  @media (min-width: 768px) {
    .navbar-default {
      background-color: transparent;
      border-color: rgba(255, 255, 255, 0.3); }
      .navbar-default .navbar-header .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
          color: white; }
      .navbar-default .nav > li > a,
      .navbar-default .nav > li > a:focus {
        color: rgba(255, 255, 255, 0.7); }
        .navbar-default .nav > li > a:hover,
        .navbar-default .nav > li > a:focus:hover {
          color: white; }
      .navbar-default.affix {
        background-color: white;
        border-color: fade(#222, 5%); }
        .navbar-default.affix .navbar-header .navbar-brand {
          color: #2196f3;
          font-size: 14px; }
          .navbar-default.affix .navbar-header .navbar-brand:hover, .navbar-default.affix .navbar-header .navbar-brand:focus {
            color: #0c7cd5; }
        .navbar-default.affix .nav > li > a,
        .navbar-default.affix .nav > li > a:focus {
          color: #222; }
          .navbar-default.affix .nav > li > a:hover,
          .navbar-default.affix .nav > li > a:focus:hover {
            color: #2196f3; } }

header {
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url("../images/header.jpg");
  text-align: center;
  color: white; }
  header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%; }
    header .header-content .header-content-inner h1 {
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0; }
    header .header-content .header-content-inner hr {
      margin: 30px auto; }
    header .header-content .header-content-inner p {
      font-weight: 300;
      color: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      margin-bottom: 50px; }
  @media (min-width: 768px) {
    header {
      min-height: 100%; }
      header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px; }
        header .header-content .header-content-inner {
          max-width: 1000px;
          margin-left: auto;
          margin-right: auto; }
          header .header-content .header-content-inner p {
            font-size: 18px;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto; } }

.section-heading {
  margin-top: 0; }

.service-box {
  max-width: 400px;
  margin: 50px auto 0; }
  @media (min-width: 992px) {
    .service-box {
      margin: 20px auto 0; } }
  .service-box p {
    margin-bottom: 0; }

.call-to-action h2 {
  margin: 0 auto 20px; }

.text-primary {
  color: #2196f3; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-default {
  color: #222;
  background-color: white;
  border-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }
  .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
    color: #222;
    background-color: #f2f2f2;
    border-color: #ededed; }
  .btn-default:active, .btn-default.active {
    background-image: none; }
  .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled].active,
  fieldset[disabled] .btn-default,
  fieldset[disabled] .btn-default:hover,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default.focus,
  fieldset[disabled] .btn-default:active,
  fieldset[disabled] .btn-default.active {
    background-color: white;
    border-color: white; }
  .btn-default .badge {
    color: white;
    background-color: #222; }

.open > .dropdown-toggle.btn-default {
  border-color: #ededed;
  color: #222;
  background-color: #f2f2f2; }

.open > .dropdown-toggle.btn-default {
  background-image: none; }

.btn-primary {
  color: white;
  background-color: #2196f3;
  border-color: #2196f3;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
    color: white;
    background-color: #0d8aee;
    border-color: #0c84e4; }
  .btn-primary:active, .btn-primary.active {
    background-image: none; }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .btn-primary:active,
  fieldset[disabled] .btn-primary.active {
    background-color: #2196f3;
    border-color: #2196f3; }
  .btn-primary .badge {
    color: #2196f3;
    background-color: white; }

.open > .dropdown-toggle.btn-primary {
  border-color: #ed431f;
  color: #fff;
  background-color: #ee4b28; }

.open > .dropdown-toggle.btn-primary {
  background-image: none; }

.btn {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase; }

.btn-xl {
  padding: 15px 30px; }

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222; }

::selection {
  color: white;
  text-shadow: none;
  background: #222; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

/* Customize container */
@media (min-width: 668px) {
  .page-container {
    max-width: 630px; } }

.page-container h2 {
  text-align: center; }

.page-container .content {
  font-size: 16px; }
